@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
body:not(.navbar *){
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: bold;
    

    margin: 0;
    padding: 140px 0;
}

.tdiet {
    width: 90%;
    color: black;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-right: 100px ;
}

.col{
    width: 90%;
    color: black;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.col img{
  margin-right: 6cm;
  position: relative;
  width:6%;
  height: 6%;
}

#pressimg {
  text-align: center;
}


*, ::before, ::after:not(.navbar *) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .gallery {
    max-width: 1100px;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 100px;
    flex-wrap: wrap;
    /* gap: 2vmin; */
    margin-top: 100px;
  }
  .gallery::after {
    content:'';
    display:block;
    flex-grow: 10;

  
  }
  .gallery li {
    list-style-type: none;
    height: 250px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gallery img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }


  #container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  .textbox {
    width: 30%;
    display: inline-block;
    margin: 0 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(3, 86, 60);
    border-radius: 30px;
    border: 2px solid black;
    font-weight: 500;
    
  }
  








/* footer section */
.footer_container{
  background-color: rgb(202, 255, 244);
  overflow: hidden;
  margin-top: 200px;
}

.footer_link_wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px;  
}
  
.footer_link_items{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;      
}
  
.footer_link_items a{
  text-decoration: none;
  padding: 5px; 
}
  
.imagelogo{
  height: 12vw;
  mix-blend-mode: multiply;
}
  
.footer_link_items a:hover{
  color: rgb(192, 0, 0);
  scale: 1.1;
  position: relative;
  bottom: 1.5px;
  transition: all 0.3s;
}
  
@media screen and (max-width:850px){
  .footer_link_wrapper{
      grid-template-columns: 1fr 1fr;
  }
}
  
@media screen and (max-width:550px){
  .footer_link_wrapper{
      grid-template-columns: 1fr;
  }
}

@media screen and (max-width:760px){
  .main_holder{
      grid-template-columns: 1fr;
      row-gap: 10px;
      padding-left: 4vw;
  }

  .right_text{
      width: 80vw;
  }

  .left_text{
      width: 80vw;
  .gallery img:hover{
    scale: 1.04;
    transition: all 0.2s;
  }


  @media screen and (max-width:1000px){
    .gallery{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .gallery img {
      width: 40vw;
      height: 40vw;
      max-width: 320px;
      max-height: 320px;
      object-fit: cover;
    }
}

@media screen and (max-width:700px){
  .gallery{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      row-gap: 50vw;
      padding-top: 100px;
  }

  .gallery img {
    width: 80vw;
    height: 80vw;
    object-fit: cover;
    max-width: 600px;
    max-height: 600px;
  }
}