/* Navbar */
.navbar{
    display: flex;
    position: fixed;
    background-color:aliceblue;
    width: 100%;
    top: 0%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    z-index: 999999;
    padding-left: 30px;
}

.navbar ul{
    display: flex;
    list-style: none;
    padding-right: 60px;
}

.navbar ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    padding: 2px;
    margin: 0 10px;
    color: black;
    font-family: 'Inter'; 
}

.navbar ul li a:hover{
    color: rgb(192, 0, 0);
    position: relative;
    bottom: 1.5px;
    transition: all 0.3s;
}

:root{
    --font-size: 22px;
}

body{
    font-family: 'Inter'; 
    font-size: var(--font-size);
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.tdiet {
    width: 90%;
    color: black;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-right: 100px ;
}

.col{
    width: 90%;
    color: black;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.col img{
    margin-right: 4cm;
    width:6%;
    height: 6%;
}


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
    padding: 140px 0;
  }
  
  .gallery {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1000px;
    row-gap: 1000px;
    flex-wrap: wrap;
    gap: 2vmin;
    margin-top: 100px;
  }
  .gallery::after {
    content:'';
    display:grid;
    flex-grow: 10;
  }
  .gallery li {
    list-style-type: none;
    height: 250px;
    flex-grow: 1;
  }
  .gallery img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    

    
  }