
body{
    background-color: rgb(237, 255, 251);
    font-family: 'Inter'; 
    font-size: 30px;
}

/* Content section */
#content{
    margin-top: 250px;
}

/* Title section */
.col{
    width: 90%;
    color: black;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.col img{
    margin-right: 11cm;
}
