@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
body{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
}

/* Content section */
/* Moves page content down by 200px to give space to the navbar */
#content{
    margin-top: 200px;
}

/* Removes the styling of the widget wrapper and makes it invisible */
#content .widget-wrapper{
    background-image: none;
    border: none;
    box-shadow: none;
}

/* Rounds each content box, seperates them with a margin and aligns text to the center */
#content .widget-wrapper .widget-box{
    text-align: center;
    list-style-position: inside;
    margin: 10px;
    border-radius: 35px;
}

/* Adds space between each list element */
#content .widget-wrapper .widget-box ul li{
    padding-top: 30px;
}

/* Title section */
.col{
    width: 90%;
    color: black;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.col img{
    margin-right: 11cm;
}
