
body{
    background-color: rgb(237, 255, 251);
    font-family: 'Inter'; 
    font-size: 30px;
}

/* Content section */
#content{
    margin-top: 200px;
}

#content #widget-wrapper{
    padding: 10px;
}

#content #widget-wrapper #widget-box{
    text-align: center;
    list-style-position: inside;
    margin: 10px;
    border-radius: 35px;
}

#content #widget-wrapper #widget-box ul li{
    padding-top: 30px;
}

/* Title section */
.col{
    width: 90%;
    color: black;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.col img{
    margin-right: 11cm;
}


