/* footer section */
.footer_container{
    background-color: rgb(202, 255, 244);
    overflow: hidden;
    margin-top: 200px;
    font-size: 20px;
}

.footer_link_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px;  
}
    
.footer_link_items{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;      
}
    
.footer_link_items a{
    text-decoration: none;
    padding: 5px; 
}
    
.imagelogo{
    height: 12vw;
    mix-blend-mode: multiply;
}
    
.footer_link_items a:hover{
    color: rgb(192, 0, 0);
    scale: 1.03;
    position: relative;
    bottom: 1.5px;
    transition: all 0.3s;
}
    
@media screen and (max-width:850px){
    .footer_link_wrapper{
        grid-template-columns: 1fr 1fr;
    }
}
    
@media screen and (max-width:550px){
    .footer_link_wrapper{
        grid-template-columns: 1fr;
    }
}