*{
    margin: 0;
    padding: 0;
}

.col{
    width: 90%;
    color: black;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.col img{
    margin-right: 9cm;
}




