/* Navbar */
.navbar{
    display: flex;
    position: fixed;
    background-color:aliceblue;
    width: 100%;
    top: 0%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    z-index: 999999;
    padding-left: 30px;
    font-size: 25px;
}

.navbar ul{
    display: flex;
    list-style: none;
    padding-right: 60px;
}

.navbar ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    padding: 2px;
    margin: 0 10px;
    color: black;
    font-family: 'Inter'; 
}

.navbar ul li a:hover{
    color: rgb(192, 0, 0);
    position: relative;
    bottom: 1.5px;
    transition: all 0.3s;
}

