body{
    background-color: rgb(237, 255, 251);
    font-family: 'Inter'; 
    font-size: 30px;
}

h1{
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    color: aqua;
}

.main_holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_text{
    width: 40vw;
    padding-left: 30px;
    align-items: center;
    justify-content: center;
}

.right_text{
    width: 40vw;
    padding-right: 30px;
    align-items: center;
    justify-content: center;
}


.imagelogo{
    width: 17vw;
}
