body{
    background-color: rgb(237, 255, 251);
    font-family: 'Inter'; 
    font-size: 30px;
}




.navbar{
    display: flex;
    position: fixed;
    background-color:aliceblue;
    width: 100%;
    top: 0%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    z-index: 999999;
    padding-left: 30px;
}


.navbar ul{
    display: flex;
    list-style: none;
    padding-right: 60px;
    
}

.navbar ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    padding: 2px;
    margin: 0 10px;
    color: black;
    
}

.navbar ul li a:hover{
    color: rgb(192, 0, 0);
    position: relative;
    bottom: 1.5px;
    scale: 1.1;
    transition: all 0.3s;

}


.rftitle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.warninglogo{
    padding-bottom: 20px;
}
    

h1{  
    color: rgb(0, 0, 0);
}

.main_holder{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.top_part{
    display: flex;
}

.bottom_part{
    display: flex;
}

.b_part{
    display: flex;
}


.left_text{
    width: 40vw;
    padding-left: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 223, 223);
    border-radius: 30px;
}

.right_text{
    width: 40vw;
    padding-right: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 223, 223);
    border-radius: 30px;
}


.imagelogo{
    width: 17vw;
}















/* footer section */
.footer_container{
    background-color: rgb(202, 255, 244);
    
    }
    .footer_link_wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 20px;
        
    }
    
    .footer_link_items{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        
    }
    
    .footer_link_items a{
        text-decoration: none;
        padding: 5px;
    
    }
    
    .imagelogo{
        height: 12vw;
        mix-blend-mode: multiply;
    }
    
    .footer_link_items a:hover{
        color: rgb(192, 0, 0);
        scale: 1.1;
        position: relative;
        bottom: 1.5px;
        transition: all 0.3s;
    
    }
    
    
    
    
    @media screen and (max-width:850px){
        .footer_link_wrapper{
            grid-template-columns: 1fr 1fr;
        }
    }
    
    @media screen and (max-width:550px){
        .footer_link_wrapper{
            grid-template-columns: 1fr;
        }
    }