@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
body{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 22px;
}

/* to-do, transition to the use of classes rather than id's */
/* Widget Styling, the BMI form is an example of a widget box */
.widget-wrapper{
    display: flex;
    flex-direction: row;
    margin: 20px;
    position: relative;
    top: 100px;
    background: linear-gradient(-30deg, #ffffff, #BBBBBB);
    padding: 5px;
    border-radius: 35px;
    border: 2px dashed #8A8585;
    box-shadow: 4px 4px 5px gray;
    overflow: hidden;
}

.widget-box{ 
    width: 50%;
    padding: 10px;
    overflow: hidden;
}

.widget-box p{
    font-weight: lighter;
    font-size: 20px;
}

.widget-box button{
    border-radius: 35px;
    cursor: pointer;
}

.widget-box form input{ 
    border: none;
    border-radius: 35px;
    text-align: left;
    padding: 2px;
    width: 50%;
}

.highlight{
    border: 3px solid #3A8EF6;
    border-radius: 35px;
    background: linear-gradient(-30deg, #EFEFEF, #BBBBBB);
}

 
/* Transitions widgets to align vertically for mobile devices */
@media screen and (max-width: 1070px) {
    .widget-wrapper{
        flex-flow: column;
        align-items: middle;
    }

    .widget-box{
        width: auto;
    }
 }
