/* Widget Styling, the BMI form is an example of a widget box */

#widget-wrapper{
    display: flex;
    flex-direction: row;
    margin: 20px;
    position: relative;
    top: 100px;
    background: linear-gradient(-30deg, #ffffff, #BBBBBB);
    padding: 5px;
    border-radius: 35px;
    border: 2px dashed #8A8585;
    box-shadow: 4px 4px 5px gray;
    overflow: hidden;
}

#widget-box-highlight{ 
   width: 50%;
   border: 3px solid #3A8EF6;
   border-radius: 35px;
   background: linear-gradient(-30deg, #EFEFEF, #BBBBBB);
   padding: 10px;
   overflow: hidden;
}

#widget-box-highlight form input{ 
    border: none;
    border-radius: 35px;
    text-align: left;
    padding: 2px;
    width: 50%;
}

#widget-box-highlight button{
    border-radius: 35px;
    cursor: pointer;
}

#widget-box-highlight p{
    font-weight: lighter;
    font-size: 20px;
 }

#widget-box{ 
    width: 50%;
    padding: 10px;
    overflow: hidden;
}

#widget-box p{
    font-weight: lighter;
    font-size: 20px;
 }

 /* This css will be applied when we're on a mobile device*/
@media screen and (max-width: 540px) {
    #widget-wrapper{
        top: 0px;
    }
 }
 

